<!DOCTYPE html>
<html>
  <head>
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="main">
      <h2>My Profile</h2>

      <div class="card">
        <img src="<%= user.profilePic %>" />

        <form
          action="/student/profile/update"
          method="POST"
          enctype="multipart/form-data"
        >
          <label>Name</label>
          <input type="text" name="name" value="<%= user.name %>" required />

          <label>Email</label>
          <input type="email" value="<%= user.email %>" disabled />

          <label>Change Profile Picture</label>
          <input type="file" name="profilePic" accept="image/*" />

          <div class="cta">
            <button type="submit">Update Profile</button>
            <a href="/student/dashboard">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
